.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-bottom: var(--borda-padrao);
    padding-bottom: 40px;
}
.titulo {
    color: var(--primary-text);
    font-family: var(--fonte-principal);
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}

.titulo span {
    color: var(--secondary-text);
}

