@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&family=Zen+Dots&display=swap');


:root {
    --background-padrao: linear-gradient(180deg, #3d88fd 0%, #e7f1ff 100%);
    --borda-padrao: 1px solid #0d6efd;
    --background-container: #f8f9fa;

    /*tipografia */
    --fonte-principal: 'Zen Dots', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --primary-text: #0d6efd;
    --secondary-text: #fd9843;
}



body {
    background: var(--background-padrao);
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
}