h2 {
    font-family: var(--fonte-secundaria);
    color: var(--primary-text);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    border-bottom: var(--borda-padrao);
}